* {
    box-sizing: border-box;
}
.allCharacter {
    float: left;   
}
.character {
    float: left; 
}
p {
    clear: both;
}
#skywalker > p, #sidious > p, #maul > p, #kenobi > p {
    text-align: center;
}
#skywalker, #sidious, #maul, #kenobi {
    width: 140px;
    border: 2px solid white;
    margin-right: 5px;
}
img {
    width: 100%;
    
}
#result {
    justify-content: center;
    
}
#restart {
    visibility: hidden;
    display: block;
    margin: 10px auto;
    
}
body {
    background-color:;
}
.wrap {
    float: right;
    margin-right: 100px;
}



